<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<script th:inline="javascript" th:fragment="logAction">
	/* #logOption은 window.onload에 넣어준 함수에 의해 log in 또는 log out을 가지게 된다. */
	function logAction() {
		const tagVal = $('#logOption').html();
		if (tagVal == 'log in') {
			$('#myModal').modal('show');
		} else {
			location.href = '/Account/logout';
		}
	}
</script>
<div th:fragment="fragment-navbar">
	<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
		<div class="container-fluid">
			<a class="navbar-brand" href="#"><img src="/sfw_adobe_express.svg" alt="" width="50" height="37">Hine~</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" th:href="@{/}">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{/Account/moveSignupPage}">Sign up</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#" id="logOption" onclick="logAction()">Link</a>
					</li>
					<!-- <li>
								<hr class="dropdown-divider">
							</li> 메뉴들사이에 가로선을 긋는 용도이다. -->
					<th:block th:if="${session.user_id != null}">
						<li class="nav-item">
							<a class="nav-link" href="#">Your Gallery</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" th:href="@{/Account/moveUserInfoSetting}">Setting</a>
						</li>
					</th:block>
					</li>
				</ul>
				<form class="d-flex" role="search">
					<input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
					<button class="btn btn-outline-warning" type="submit">Search</button>
				</form>
			</div>
		</div>
	</nav>
</div>

</html>