<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<script th:inline="javascript" th:fragment="logAction">
	/* <![CDATA[ */

	function movePinViewer() {
		let check = window.sessionStorage.getItem('visibility')
		if (check == null) {
			window.sessionStorage.setItem('visibility', false)
			location.href = '/Pin/movePinViewer?visibility=false'
		} else {
			location.href = '/Pin/movePinViewer?visibility=' + check
		}
	}

	function move(elem) {
		if (elem.name == "home-outline") {
			location.href = '/Pin/Main'
		} else if (elem.name == 'person-circle-outline') {
			location.href = '/Account/moveSignupPage'
		} else if (elem.name == 'images-outline') {
			movePinViewer();
		} else if (elem.name == 'cloud-upload-outline') {
			location.href = '/Pin/moveUploadView'
		} else if (elem.name == 'settings-outline') {
			location.href = '/Account/moveUserInfoSetting'
		} else if (elem.name == 'reader-outline') {
			location.href = '/Post/MoveBoard'
		} else if (elem.name == 'key-outline') {
			location.href = '/'
		} else if (elem.name = 'key') {
			location.href = '/Account/logout'
		}
	}
	/* ]]> */
</script>

<style>
	@import url('https://fonts.googleapis.com/css2?family=Poor+Story&display=swap');
	@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
</style>
<div th:fragment="fragment-navbar">
	<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light shadow-lg" style="box-shadow: 20px 20px 20px grey; height: 60px;">
		<div class="container-fluid">
			<a class="navbar-brand" href="#" style="font-family: 'Poor Story', cursive; font-size: 25px;"><img src="/free-icon-pinterest-3128340.png" alt="" width="50" height="50">Pinterest</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="d-flex align-items-center">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item" style="text-align: center;">
						<span class="icon">
							<ion-icon type="button" onclick="move(this)" name="home-outline" style="color: black; font-size:30px; text-align: center;"></ion-icon>
						</span>
						<a class="nav-link active" aria-current="page" th:href="@{/Pin/Main}" style="font-family: 'Noto Sans KR', sans-serif; margin-top: -8px; padding-top: 0px; padding-bottom: 0px;">Home</a>
					</li>
					<th:block th:if="${session.user_id == null}">
						<li class="nav-item" style="text-align: center;">
							<span class="icon">
								<ion-icon type="button" onclick="move(this)" name="key-outline" style="color: black; font-size:30px; text-align: center;"></ion-icon>
							</span>
							<a class="nav-link" href="#" th:href="@{/}" style="font-family: 'Noto Sans KR', sans-serif; margin-top: -8px; padding-top: 0px; padding-bottom: 0px;">Log in</a>
						</li>
					</th:block>
					<li class="nav-item" style="text-align: center;">
						<span class="icon">
							<ion-icon type="button" onclick="move(this)" name="reader-outline" style="color: black; font-size:30px; text-align: center;"></ion-icon>
						</span>
						<a class="nav-link" th:href="@{/Post/MoveBoard}" style="font-family: 'Noto Sans KR', sans-serif; margin-top: -8px; padding-top: 0px; padding-bottom: 0px;">Board</a>
					</li>
					<th:block th:if="${session.user_id != null}">
						<li class="nav-item" style="text-align: center;">
							<span class="icon">
								<ion-icon type="button" name="key" onclick="move(this)" style="color: black; font-size:30px; text-align: center;"></ion-icon>
							</span>
							<a class="nav-link" href="#" th:href="@{/Account/logout}" style="font-family: 'Noto Sans KR', sans-serif; margin-top: -8px; padding-top: 0px; padding-bottom: 0px;">Log out</a>
						</li>
						<li class="nav-item" style="text-align: center;">
							<span class="icon">
								<ion-icon type="button" onclick="move(this)" name="images-outline" style="color: black; font-size:30px; text-align: center;"></ion-icon>
							</span>
							<a class="nav-link" type='button' onclick="movePinViewer()" style="font-family: 'Noto Sans KR', sans-serif; margin-top: -8px; padding-top: 0px; padding-bottom: 0px;">Gallery</a>
						</li>
						<li class="nav-item" style="text-align: center;">
							<span class="icon">
								<ion-icon type="button" onclick="move(this)" name="cloud-upload-outline" style="color: black; font-size:30px; text-align: center;"></ion-icon>
							</span>
							<a class="nav-link" th:href="@{/Pin/moveUploadView}" style="font-family: 'Noto Sans KR', sans-serif; margin-top: -8px; padding-top: 0px; padding-bottom: 0px;">Upload</a>
						</li>
						<li class="nav-item" style="text-align: center;">
							<span class="icon">
								<ion-icon type="button" onclick="move(this)" name="settings-outline" style="color: black; font-size:30px; text-align: center;"></ion-icon>
							</span>
							<a class="nav-link" th:href="@{/Account/moveUserInfoSetting}" style="font-family: 'Noto Sans KR', sans-serif; margin-top: -8px; padding-top: 0px; padding-bottom: 0px;">Setting</a>
						</li>
					</th:block>
					</li>
				</ul>
			</div>
		</div>
	</nav>
</div>

</html>