/* #backgroundimage {
	width: 100%;
	height: 100%;
	object-fit: cover;
	background-size: cover;
	min-width: 100%;
	min-height: 100%;
} */

.box {
	position: absolute;
	top: 25%;
	left: 50%;
	width: 23vh;
	height: 23vh;
	border-radius: 70%;
	overflow: hidden;
	transform: translate( -50%, -50% );
}

.profile {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

#bulletinBoard {
	position: absolute;
	margin-bottom: 10%;
	top: 24vh;
	left: 58vh;
	width: 60vw;
}

#nickname {
	color: white;
	padding: 5px 5px 5px 5px;
	margin-bottom: 0px;
}

#nickDiv{
	position: absolute;
	left: 50%;
	top: 43%;
	border-radius: 10px;
	background-color: rgba(0, 0, 0, 0.4);
	text-align: center;
	/* top rignt bottom left */
	padding: 5px 10px 5px 10px;
	transform: translate( -50%, -50% );
}

#writeBtn {
	position: absolute;
	top: 80px;
	right: 1%;
	width: 70px;
}

#loginform {
	position: relative;
	left: 50%;
	transform: translate(-50%);
}

#alert {
	position: fixed;
	width: 220px;
	height: 140px;
	top: 35%;
	left: 48%;
	z-index: 999;
}

#myModal {
	position: fixed;
	top: 20%;
}