body {
	overflow: auto;
	padding: 0px, 0px, 0px, 0px;
	margin: 0px, 0px, 0px, 0px;
	overflow: hidden;
	background-color: #000;
}

#title {
	position: fixed;
	left: 50%;
	transform: translate(-50%);
}

.btn {
	width: 100px;
	height: 40px;
	font-size: 20px;
}


#backgroundimage {
	width: 100vw;
	height: 100vh;
	object-fit: cover;
	background-size: cover;
	min-width: 100%;
	min-height: 100%;
}

.title {
	position: absolute;
	top: 10%;
	left: 50%;
	transform: translate(-50%);
}

.inputinfo {
	position: absolute;
	top: 40%;
	left: 40%;
}

#alert {
	position: fixed;
	width: 70vw;
	height: 110px;
	top: 10%;
	left: 50%;
	z-index: 9999;
	opacity: 0.9;
	transform: translate(-50%);
}
@keyframes fadeInUp {
	0% {
		opacity: 0;
		transform: translate3d(0, -40%, 0);
		transform: translate(-50%);
	}

	to {
		opacity: 0.9;
		transform: translate(-50%);
	}
}

.fadeIn {
	animation: fadeInUp 0.5s;
}

#signupForm {
	position: absolute;
	width: 300px;
	margin: auto;
	top: 60%;
	left: 50%;
	transform: translate(-50%, -50%);
}































@keyframes ani {
	50% {
		transform: translate(200px, 0px);
	}
	
	100% {
		transform: translate(200px, 200px);
	}
}

.one {
	background-color: palegoldenrod;
	width: 100px;
	height: 100px;
	position: relative;
	
	animation-name: ani;
	animation-duration: 2s;
	transition: all 1s;
}

.one:hover {
	background-color: aquamarine;
	width: 150px;
	height: 150px;
}

.four {
	width: 50%;
	/* 부모 요소의 절반 퍼센테이지 길이 */
	height: 100px;
	background-color: red;
}