#myDropzone {
	position: absolute;
	max-height: 63vh;
	height: 63vh;
	width: 80vw;
	right: 3%;
	top: 32vh;
	min-height: 63vh;
	background-color: white;
	opacity: 0.8;
	overflow: auto;
}

#bg {
	position: fixed;
	width: 100vw;
	height: 100vh;
	object-fit: cover;
	background-size: cover;
	min-width: 100%;
	min-height: 100%;
}

form:hover {
	border-color: blue;
	transition: 1s;
}


#btnGroup {
	position: absolute;
	top: 32%;
	left: 1%;
	width: 15vw;
	height: 63vh;
	background-color: white;
	opacity: 0.8;
	border-radius: 20px;
	overflow: auto;
}

.optionBtn {
	position: relative;
	transform: translate(-50%);
	width: 14vw;
	height: 5vh;
	min-height: 5vh;
	/* top rignt bottom left */
	margin-bottom: 5px;
	margin-top: 5px;
	left: 50%;
}

.tagaddbtn {
	position: absolute;
	top: 26vh;
	right: 40px;
	display: block;
	width: 32px;
	height: 32px;
}

#newTagTextfield {
	position: absolute;
	top: 26vh;
	right: 78px;
	width: 20vw;
	border-radius: 17px;
	display: block;
}

#searchTagTextfield{
	position: absolute;
	top: 26vh;
	left: 1%;
	width: 15vw;
	border-radius: 10px;
}

@keyframes fadeInUp {
	0% {
		opacity: 0;
		transform: translate3d(0, -40%, 0);
		transform: translate(-50%);
	}

	to {
		opacity: 0.9;
		transform: translate(-50%);
	}
}

.fadeIn {
	animation: fadeInUp 0.5s;
}

#alert {
	position: fixed;
	width: 70vw;
	height: 110px;
	top: 10%;
	left: 50%;
	z-index: 9999;
	opacity: 0.9;
	transform: translate(-50%);
}