#ContentTextarea {
	resize: none;
	opacity: 0.85;
}

#TitleTextField {
	width: 90vw;
	margin: 10px;
	resize: none;
	opacity: 0.85;
}

#writeBtn {
	position: absolute;
	width: 71px;
	right: 0em;
	margin-top: 10px;
}

#WritePostForm {
	position: absolute;
	left: 50%;
	top: 30%;
	transform: translate(-50%);
}

#bg {
	position: fixed;
	width: 100vw;
	height: 100vh;
	object-fit: cover;
	background-size: cover;
	min-width: 100%;
	min-height: 100%;
}

#alert {
	position: fixed;
	width: 70vw;
	height: 110px;
	top: 10%;
	left: 50%;
	z-index: 9999;
	opacity: 0.85;
	transform: translate(-50%);
}

@keyframes fadeInUp {
	0% {
		opacity: 0;
		transform: translate3d(0, -40%, 0);
		transform: translate(-50%);
	}

	to {
		opacity: 0.85;
		transform: translate(-50%);
	}
}

.fadeIn {
	animation: fadeInUp 0.5s;
}