<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta id="_csrf" name="_csrf" th:content="${_csrf.token}" />
	<meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}" />
	<script src="https://kit.fontawesome.com/67d8dfef5a.js" crossorigin="anonymous"></script>
	<script type="text/javascript" charset="UTF-8">
		let islikeAlready = Number('[[${islikeAlready}]]');
		let likeNum = Number('[[${postinfo.likes}]]');
		const user_id = '[[${user_id}]]';

		let toggleLike = function () {
			if (islikeAlready == 0) {
				islikeAlready = 1;
				document.getElementById('likeBtn').className = 'btn btn-outline-danger';
				likeNum = likeNum + 1;
				$('#likeBtn').html('❤️ Like ' + likeNum);
			} else if (islikeAlready == 1) {
				islikeAlready = 0;
				document.getElementById('likeBtn').className = 'btn btn-outline-primary';
				likeNum = likeNum - 1;
				$('#likeBtn').html('💙 Like ' + likeNum);
			}
		};

		function sendComment() {
			if (user_id == 'null') {
				$('#modalMsg').html('A login is required to write a comment.');
				$('#myModal').modal('show');
			} else {
				const fieldcomment = $('#commentsField').val();
				if (fieldcomment == "") {
					alert('관리자 일침 : 뭐라고도 좀 쓰고 댓글 달아라 이 자식아 상식적으로 빈 댓글 다는놈이 어딨어')
					return
				}
				const token = $("meta[name='_csrf']").attr("content");
				const header = $("meta[name='_csrf_header']").attr("content");
				$.ajax({
					type: "post",
					async: false,
					url: "http://localhost:8080/Comments/sendComment",
					beforeSend: function (xhr) {
						xhr.setRequestHeader(header, token);
					},
					data: { postid: '[[${postinfo.postid}]]', comment: fieldcomment },
					success: function (data, textStatus) {
						let jsoninfo = JSON.parse(data);
						$('div').remove('#generalComment');
						let ff = $('#con');
						for (let idx in jsoninfo.commentInfoArray) {
							let html = '<div id=\'generalComment\' class=\'card border-info mb-3 fadeInCom\' ><div class=\'card-header\'>' + jsoninfo.commentInfoArray[idx].commenter + ' at ' + jsoninfo.commentInfoArray[idx].c_time + '</div><div class=\'card-body\'><p class=\'card-text\'>' + jsoninfo.commentInfoArray[idx].c_contents + '</p></div></div>';
							ff.append(html);
						}
						$('#commentsField').val('');
						return false;
					},
					error: function (request, status, error) {
						alert("code: " + request.status + "message: " + request.responseText + "error: " + error);
					},
					complete: function (data, textStatus) { }
				});
			}
		}

		function likeFunc() {
			if (user_id == 'null') {
				$('#modalMsg').html('You need to log in before you can click Like.');
				$('#myModal').modal('show');
			} else {
				let likeData = { user_id: '[[${user_id}]]', postid: '[[${postinfo.postid}]]', likeAlready: islikeAlready }
				const token = $("meta[name='_csrf']").attr("content");
				const header = $("meta[name='_csrf_header']").attr("content");
				$.ajax({
					type: "post",
					async: true,
					contentType: 'application/json',
					beforeSend: function (xhr) {
						xhr.setRequestHeader(header, token);
					},
					url: "http://localhost:8080/Post/likes",
					data: JSON.stringify(likeData),
					success: function (data, textStatus) {
						toggleLike();
						return false;
					},
					error: function (request, status, error) {
						alert("code: " + request.status + "message: " + request.responseText + "error: " + error);
					},
					complete: function (data, textStatus) { }
				});
			}
		}

		window.onload = function () {
			const user_id = '[[${user_id}]]';
			if (user_id == 'null' || user_id == '') {
				$('#logOption').html('log in');
			} else {
				$('#logOption').html('log out');
			}

			if (islikeAlready == 1) {
				let l = document.getElementById('likeBtn');
				l.className = 'btn btn-outline-danger';
				$('#likeBtn').html('❤️ Like ' + $('#likeBtn').html().substring(8))
			}
		}
	</script>
	<style>
		/* url('https://fonts.googleapis.com/css2?family=Mali:wght@300&display=swap'); */
		@import url('https://fonts.googleapis.com/css2?family=Poor+Story&display=swap');
		body{
			height : 120%;
		}
	</style>
	<th:block th:replace="~{fragments/navbar::logAction}"></th:block>
	<th:block th:replace="~{fragments/LoginModal.html::modalScript}"></th:block>
	<link rel="stylesheet" th:href="@{/css/PostViewer.css}">
	<link rel="stylesheet" th:href="@{/css/custom.css}">
	<script src="/js/jquery-3.6.0.min.js"></script>
	<script src="/js/popper.js"></script>
	<script type="text/map" src="/js/popper.js.map"></script>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
</head>

<body>
	<th:block th:replace="~{fragments/navbar::fragment-navbar}"></th:block>
	<img id="bg" th:src="@{/wefw.jpg}" alt="hello">
	<div id="view" class="card container" style="width: 87vw; margin-bottom: 10px;">
		<span id="hit" class="badge text-bg-primary">hits [[${postinfo.hits}]]</span>
		<div id="wrtierandtime">
			<p class="watp" style="text-align:right;font-family: 'Poor Story', cursive; font-size: 19px;" th:text="${postinfo.writtentime}"></p>
			<p class="watp" style="text-align:right;font-family: 'Poor Story', cursive; font-size: 19px;" th:text="${postinfo.writer}"></p>
		</div>
		<div class="card-body">
			<h5 class="card-title" th:text="${postinfo.title}"></h5><br>
			<p class="card-text" style="font-family: 'Poor Story', cursive; font-size: 20px;" th:utext="${postinfo.contents}"></p>
			<th:input id="likeBtn" type="button" class="btn btn-outline-primary" onclick="likeFunc()" th:text="'💙 Like ' + ${postinfo.likes}"></input>
		</div>
		<br><br>

		<th:block th:if="${image != null}">
			<div class="card text-bg-dark fadeIn">
				<img id="postImg" th:src="@{/upload/__${image}__}" class="card-img" alt="이미지 못찾게슴">
			</div><br>
		</th:block>
	</div>
	<div style="position:absolute; height:30px; width:87vw; display: block;">

	</div>
	<!-- <footer>
		<p>Copyright © 2018 tcpschool.co.,Ltd. All rights reserved.</p>
		<address>Contact webmaster for more information. 070-1234-5678</address>
	</footer> -->
	<div id="icon" style="font-size: 60px;" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling">
		<img src="/cloud.gif" type="button" style="width: 150px; height: 150px;"></img>
	</div>

	<div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
		<div class="offcanvas-header">
			<h5 class="offcanvas-title" id="offcanvasScrollingLabel">Comments Side</h5>
			<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
		</div>
		<div class="offcanvas-body">
			<div id="con">
				<th:block th:each="comment, status: ${l}">
					<div id="generalComment" class="card border-info mb-3 fadeInCom">
						<div class="card-header" style="text-align:center;font-family: 'Poor Story', cursive; font-size: 20px;" th:text="${comment.commenter} + ' at ' + ${comment.c_time}"></div>
						<div class="card-body">
							<p id="postcontents" class="card-text" style="font-family: 'Poor Story', cursive; font-size: 18px;" th:utext="${comment.c_contents}"></p>
						</div>
					</div>
				</th:block>
			</div>
			<div class="card text-bg-dark">
				<img src="/img.gif" class="card-img" alt="hello">
				<div class="card-img-overlay">
					<h5 class="card-title" style="color: rgb(12, 102, 219);">why needs this card?</h5>
					<p class="card-text" style="color: rgba(61, 11, 37, 0.822);">I don’t know too.</p>
				</div>
			</div>
			<form id="c_form">
				<textarea id="commentsField" onkeyPress="if(window.event.keyCode==13 && !window.event.shiftKey){ return sendComment()}" placeholder="please insert comment here." maxlength=90 class="form-control col-sm-5" rows="3" required></textarea>
				<button id="sendCommentBtn" type="button" class="btn btn-primary" onclick="sendComment()">send</button>
			</form>
		</div>
	</div>
	<th:block th:replace="~{fragments/LoginModal.html::Modal-div}"></th:block>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
</body>

</html>