<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta id="_csrf" name="_csrf" th:content="${_csrf.token}" />
	<meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}" />
	<link rel="stylesheet" th:href="@{/css/custom.css}">
	<link rel="stylesheet" th:href="@{/css/UserinfoSetting.css}">
	<script src="https://kit.fontawesome.com/67d8dfef5a.js" crossorigin="anonymous"></script>
	<script src="/js/jquery-3.6.0.min.js"></script>
	<script src="/js/popper.js"></script>
	<script type="text/map" src="/js/popper.js.map"></script>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
	<script th:inline="javascript">
		/* <![CDATA[ */
		const user_id = '[[${session.user_id}]]';
		const user_email = '[[${email}]]';
		const reroad = '[[${reroad}]]';

		let apply, submit, image;
		let applyStatus = 'secondary';
		let profileForm;
		let commentList = '[[${commentList}]]'
		let postList = '[[${IwroteitList}]]'
		let tagList = '[[${tagCountList}]]'
		let tagJsonObjectList = JSON.parse(tagList)
		let postJsonObjectList = JSON.parse(postList)
		let commentJsonObjectList = JSON.parse(commentList)

		console.log(tagJsonObjectList);
		function showAlert() {
			$('#alert').show()
			setTimeout(() => { $('#alert').fadeOut() }, 2500);
			return false;
		}

		function showAlert2() {
			$('#alert2').show()
			setTimeout(() => { $('#alert2').fadeOut() }, 2500);
			return false;
		}

		window.onload = function () {
			/* 로그인 여부를 검사하여 네비바의 로그인, 또는 로그아웃글자를 바꿔준다. 즉 네비바를 위한 조건문이다. */
			if (user_id == 'null') {
				$('#logOption').html('log in');
			} else {
				$('#nickname').html(user_id.substring(1, user_id.length - 1));
				$('#logOption').html('log out');
			}

			apply = document.getElementById('apply');
			submit = document.getElementById('profileBtn');
			image = document.getElementById('profileInput');
			profileForm = document.getElementById('profileForm');

			if (reroad == 1) {
				console.log(reroad);
				$('#successMsg').html('The changes have been applied.');
				showAlert2();
				reroad = 0
			}

			image.onchange = () => {
				if (image.value.length == 0) {
					if (applyStatus == 'secondary' || applyStatus == 'danger') {
						submit.disabled = true;
					} else if (applyStatus == 'success') {
						submit.disabled = false;
					}
				} else {
					if (applyStatus == 'danger') {
						submit.disabled = true;
					} else if (applyStatus == 'success' || applyStatus == 'secondary') {
						submit.disabled = false;
					}
				}
			};

			$("#email").on("propertychange change keyup paste input", function () {
				const change_email = $('#email').val();
				const emailtextfield = document.querySelector('#email')

				if (change_email == user_email.substring(1, user_email.length - 1)) {
					apply.className = 'btn btn-secondary';
					applyStatus = 'secondary';
					submit.disabled = false;
					emailtextfield.className = 'form-control'
				} else {
					apply.className = 'btn btn-danger';
					applyStatus = 'danger';
					apply.disabled = false;
					submit.disabled = true;
					emailtextfield.className = 'form-control is-invalid'
				}
			});
		}

		/* The Quick Brown Fox Jumps Over The Lazy Dog. */
		/* Bright vixens jump, dozy fowl quack. */

		function commentListRerender(commentid) {
			let sign = 0, removeIdx = 0, offset = 0;
			let think = $('#think');
			for (let idx in commentJsonObjectList) {
				if (commentJsonObjectList[idx].commentid == commentid) {
					sign = 1;
					offset += $('#' + commentid).outerHeight(true)
					/* $('#' + commentid).fadeOut(800, function () { $(this).remove(); }); */
					$('#' + commentid).remove();
					removeIdx = idx;
					continue
				}
				if (sign == 1) {
					/* setTimeout(() => {
						$('div').remove('#' + commentJsonObjectList[idx].commentid)
						think.append('<div id=\'' + commentJsonObjectList[idx].commentid + '\' class=\'card border-info row col-16 post shadow-lg p-1 mb-5 bg-body rounded fadeInCom\' style=\'--offset:' + offset + 'px;\'> <div class=\'card-header\' style=\'text-align:left;font-family: \"Poor Story\", cursive; font-size: 20px;\' >' + commentJsonObjectList[idx].title + ' at ' + commentJsonObjectList[idx].c_time + '</div><div class=\'card-body\'> <img id=\'xbtn\' src=\'/delete.png\' onclick=\'deleteMyComment(' + commentJsonObjectList[idx].commentid + ')\' /><span >' + commentJsonObjectList[idx].c_contents + '</span></div></div>');
					}, 1200) */
					$('div').remove('#' + commentJsonObjectList[idx].commentid)
					let temp = `<div id="${commentJsonObjectList[idx].commentid}" class="card border-info row col-16 post shadow-lg p-1 mb-5 bg-body rounded fadeInCom" style="--offset: ${offset}px;">
									<div class="card-header" style="text-align:left;font-family: 'Poor Story', cursive; font-size: 20px;">${commentJsonObjectList[idx].title} + ' at ' + ${commentJsonObjectList[idx].c_time}</div>
										<div class="card-body">
										<img id="xbtn" src="/delete.png" onclick="deleteMyComment(${commentJsonObjectList[idx].commentid})" />
										<span>${commentJsonObjectList[idx].c_contents}</span>
									</div>
								</div>`
					think.append(temp);
				}
			}
			commentJsonObjectList.splice(removeIdx, 1)
			if (commentJsonObjectList.length == 0) {
				think.append(
					`<img src="/nocomment.png" class="notExistnotting" style="width: 200px;" />
					<div id="nottingMsg">아무런 댓글도 작성하지 않았어요!</div>`
				)
			}
		}

		function postListRerender(postid) {
			let sign = 0, removeIdx = 0, offset = 0;
			let your_post = $('#your_post');
			for (let idx in postJsonObjectList) {
				if (postJsonObjectList[idx].postid == postid) {
					sign = 1;
					offset += $('#' + postid).outerHeight(true)
					$('#' + postid).remove();
					removeIdx = idx;
					continue
				}
				if (sign == 1) {
					$('div').remove('#' + postJsonObjectList[idx].postid)
					let temp =
						`<div id="${postJsonObjectList[idx].postid}" class="card border-info row col-16 post shadow-lg p-1 mb-5 bg-body rounded fadeInCom" style="--offset: ${offset}px;">
								<div class="card-body">
									<img id="xbtn" src="/delete.png" onclick="deleteMyPost(${postJsonObjectList[idx].postid})" />
									<span class="badge text-bg-warning" >${postJsonObjectList[idx].postid}</span><br>
									<span style="font-family: 'Poor Story', cursive; font-size: 19px;" >${postJsonObjectList[idx].writtenTime}</span><br>
									<a style="font-family: 'Poor Story', cursive; font-size: 19px;text-decoration-line : none;" href='/Post/PostViewer/${postJsonObjectList[idx].postid}' >${postJsonObjectList[idx].title}</a>
								</div>
							</div>`
					your_post.append(temp)
				}
			}
			postJsonObjectList.splice(removeIdx, 1)
			if (postJsonObjectList.length == 0) {
				your_post.append(
					`<img src="/nopost.png" class="notExistnotting" style="width: 200px;"/>
					<div id="nottingMsg">아무런 글도 작성하지 않았어요!</div>`
				)
			}
		}

		function tagListRerender(tagid) {
			let sign = 0, removeIdx = 0, offset = 0;
			let your_tags = $('#tags');
			for (let idx in tagJsonObjectList) {
				if (tagJsonObjectList[idx].forhtmlid == tagid) {
					sign = 1;
					offset += $('#' + tagid).outerHeight(true)
					$('#' + tagid).remove();
					removeIdx = idx;
					continue
				}

				if (sign == 1) {
					$('div').remove('#' + tagJsonObjectList[idx].forhtmlid)
					let temp = `
						<div id="${tagJsonObjectList[idx].forhtmlid}" class="card border-info row col-16 post shadow-lg p-1 mb-5 bg-body rounded fadeInCom" style="--offset: ${offset}px;">
							<div name="tagCardBody" class="card-body">
								<span id="tagSpan" class="badge text-bg-info">${tagJsonObjectList[idx].tagName}</span>&nbsp;&nbsp;&nbsp;&nbsp;
								<span style="font-family: 'Poor Story', cursive; font-size: 19px;" >${tagJsonObjectList[idx].count}</span>
								<img name="tagModifyButton" id="xbtn" type="button" onclick="showModifyTagModal('${tagJsonObjectList[idx].tagName}')" src="/modify.png" style="right:50px; width: 30px; height: 30px; top:7px"></img>
								<img name="tagDeleteButton" id="xbtn" type='button' onclick="deleteTag(${tagJsonObjectList[idx].forhtmlid}, '${tagJsonObjectList[idx].tagName}')" src="/delete.png"></img>
							</div>
						</div>`
					your_tags.append(temp)
				}
			}
			tagJsonObjectList.splice(removeIdx, 1)
		}


		function checked_email_overlap() {
			const email = $('#email').val();
			const regEmail = /^[0-9a-zA-Z]([-_\.]?[0-9a-zA-Z])*@[0-9a-zA-Z]([-_\.]?[0-9a-zA-Z])*\.[a-zA-Z]{2,3}$/;
			const emailtextfield = document.querySelector('#email')

			if (!regEmail.test(email)) {
				$('#errorMsg').html('wrong Email type');
				return showAlert();
			} else {
				const token = $("meta[name='_csrf']").attr("content");
				const header = $("meta[name='_csrf_header']").attr("content");
				$.ajax({
					type: "post",
					async: false,
					url: "http://localhost:8080/Account/checkEmail",
					beforeSend: function (xhr) {
						xhr.setRequestHeader(header, token);
					},
					data: { email: email },
					success: function (response) {
						if (response == 0) { // 변경성공
							apply.className = 'btn btn-success';
							applyStatus = 'success';
							apply.disabled = true;
							submit.disabled = false;
							emailtextfield.className = 'form-control'
						} else if (response == 1) { // 변경실패
							submit.disabled = true;
							$('#errorMsg').html('email exist already');
							emailtextfield.className = 'form-control is-invalid'
							return showAlert();
						}
						return false;
					},
					error: function (request, status, error) {
						alert("code: " + request.status + "message: " + request.responseText + "error: " + error);
					},
					complete: function (data, textStatus) { }
				});

			}
		}

		function deleteMyPost(postid) {
			const token = $("meta[name='_csrf']").attr("content");
			const header = $("meta[name='_csrf_header']").attr("content");
			$.ajax({
				type: "post",
				async: false,
				url: "http://localhost:8080/Post/deletePost",
				beforeSend: function (xhr) {
					xhr.setRequestHeader(header, token);
				},
				data: { postid: postid },
				success: function (response) {
					if (response == 'success')
						postListRerender(postid)
					else
						console.log('abnormal access')
				},
				error: function (request, status, error) {
					alert("code: " + request.status + "message: " + request.responseText + "error: " + error);
				},
				complete: function (data, textStatus) { }
			});
		}

		function deleteMyComment(commentid) {
			const token = $("meta[name='_csrf']").attr("content");
			const header = $("meta[name='_csrf_header']").attr("content");
			$.ajax({
				type: "post",
				async: false,
				url: "http://localhost:8080/Comments/deleteComment",
				beforeSend: function (xhr) {
					xhr.setRequestHeader(header, token);
				},
				data: { commentid: commentid },
				success: function (response) {
					if (response == 'fail') {
						location.reload()
					} else {
						commentListRerender(commentid)
					}
				},
				error: function (request, status, error) {
					alert("code: " + request.status + "message: " + request.responseText + "error: " + error);
				},
				complete: function (data, textStatus) { }
			});
		}

		function deleteTag(tid, tagname) {
			const token = $("meta[name='_csrf']").attr("content");
			const header = $("meta[name='_csrf_header']").attr("content");
			$.ajax({
				type: "post",
				async: false,
				url: "http://localhost:8080/Pin/deleteTagAll",
				beforeSend: function (xhr) {
					xhr.setRequestHeader(header, token);
				},
				data: { tagName: tagname },
				success: function (response) {
					if (response == 'success')
						tagListRerender(tid)
					else
						console.log('abnormal access')
				},
				error: function (request, status, error) {
					alert("code: " + request.status + "message: " + request.responseText + "error: " + error);
				},
				complete: function (data, textStatus) { }
			});
		}

		function showModifyTagModal(tagname) {
			$('#modifyTagNameModal').modal('show');
			$('#floatingInput').val(tagname)
			$('#tagnameformodify').val(tagname)
		}

		function modifyTagName(newTagname, originalTagname) {
			const regex = /^[ㄱ-ㅎ|가-힣|a-z| |A-Z|0-9|]+$/;
			let modifyDesIndex = 0;
			for (let idx in tagJsonObjectList) {
				let t = tagJsonObjectList[idx].tagName
				if (t == newTagname) {
					$('#errorMsg').html('이미 있는 거랑 중복 됬다');
					return showAlert();
				} else if (t == originalTagname) {
					modifyDesIndex = idx;
				}
			}

			if (!regex.test(newTagname)) {
				$('#errorMsg').html('한글영어 숫자만 써라');
				return showAlert();
			}

			const token = $("meta[name='_csrf']").attr("content");
			const header = $("meta[name='_csrf_header']").attr("content");
			$.ajax({
				type: "post",
				async: false,
				url: "http://localhost:8080/Pin/modifyTag",
				beforeSend: function (xhr) {
					xhr.setRequestHeader(header, token);
				},
				data: { newTagname: newTagname, originalTagname: originalTagname },
				success: function (response) {
					if (response == 'success')
						modifyTagRerender(newTagname, modifyDesIndex)
					else
						console.log('abnormal access')
				},
				error: function (request, status, error) {
					alert("code: " + request.status + "message: " + request.responseText + "error: " + error);
				},
				complete: function (data, textStatus) { }
			});

			$('#modifyTagNameModal').modal('hide');
			$('#successMsg').html('modify success!');
			return showAlert2();
		}

		function modifyTagRerender(newT, modifyDesIndex) {
			let id = tagJsonObjectList[modifyDesIndex].forhtmlid
			let originTagname = tagJsonObjectList[modifyDesIndex].tagName
			let tl = document.querySelectorAll('#tagSpan')
			tagJsonObjectList[modifyDesIndex].tagName = newT

			for (let ts of tl) {
				if (ts.innerHTML == originTagname) {
					ts.innerHTML = newT
					document.getElementsByName('tagModifyButton')[modifyDesIndex].setAttribute('onclick', "showModifyTagModal(\'" + newT + "\')")
					document.getElementsByName('tagDeleteButton')[modifyDesIndex].setAttribute('onclick', "deleteTag(" + id + ", \'" + newT + "\')")
				}
			}

		}

		/* ]]> */
	</script>
	<style>
		/* url('https://fonts.googleapis.com/css2?family=Mali:wght@300&display=swap'); */
		@import url('https://fonts.googleapis.com/css2?family=Poor+Story&display=swap');
	</style>
	<th:block th:replace="~{fragments/navbar.html::logAction}"></th:block>
</head>

<body>
	<th:block th:replace="~{fragments/navbar::fragment-navbar}"></th:block>
	<div id="index-nav" class="list-group">
		<a style="font-family: 'Poor Story', cursive; font-size: 19px;" class="list-group-item list-group-item-action" href="#profileForm">Email & Profile</a>
		<a style="font-family: 'Poor Story', cursive; font-size: 19px;" class="list-group-item list-group-item-action" href="#your_post">I wrote it</a>
		<a style="font-family: 'Poor Story', cursive; font-size: 19px;" class="list-group-item list-group-item-action" href="#your_like">I like it</a>
		<a style="font-family: 'Poor Story', cursive; font-size: 19px;" class="list-group-item list-group-item-action" href="#think">I have think about it</a>
		<a style="font-family: 'Poor Story', cursive; font-size: 19px;" class="list-group-item list-group-item-action" href="#tags">Tag Manager</a>
	</div>
	<div class="container" id="scroll-div" data-bs-spy="scroll" data-bs-target="#index-nav" data-bs-offset="0" tabindex="0">
		<div class="card border-info row col-16" id="profileForm">
			<form id="profileForm" method="post" th:action="@{/Account/profile?__${_csrf.parameterName}__=__${_csrf.token}__}" class="needs-validation card-body " enctype="multipart/form-data">
				<div class="input-group form-floating">
					<input id="email" type="email" name="email" required style="text-align: left" th:value="${email}" class="form-control" placeholder="name@example.com" aria-label="Email" aria-describedby="button-addon2">
					<label for="email">Email address</label>
					<button onclick="checked_email_overlap()" disabled class="btn btn-secondary" type="button" id="apply">overLap check</button>
				</div><br>
				<input name="imagefile" class="form-control form-control-sm" id="profileInput" type="file" accept=".png, .jpg, .jpeg"><br>
				<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
				<button id="profileBtn" class="btn btn-primary float-right" th:type="submit">Apply</button>
			</form>
		</div><br>
		<div class="row col-16" id="your_post">
			<span class="badge text-bg-success" style="margin-top: 20px; margin-bottom: 20px; font-size: 20px; text-align: left;">I wrote it :) </span>
			<th:block th:each="mypost, index: ${IwroteitList}">
				<div th:id="${mypost.postid}" class="card border-info row col-16 post shadow-lg p-1 mb-5 bg-body rounded">
					<div class="card-body">
						<img id="xbtn" type="button" src="/delete.png" th:onclick="deleteMyPost([[${mypost.postid}]])" />
						<span class="badge text-bg-warning" th:text="${mypost.postid}" /><br>
						<span th:text="${mypost.writtenTime}" style="font-family: 'Poor Story', cursive; font-size: 19px;" /><br>
						<a style="font-family: 'Poor Story', cursive; font-size: 19px;text-decoration-line : none;" th:text="${mypost.title}" th:href='@{/Post/PostViewer/__${mypost.postid}__}' />
					</div>
				</div>
			</th:block>
			<th:block th:if="${#lists.size(IwroteitList) <= 0}">
				<img src="/nopost.png" class="notExistnotting" style="width: 200px;" />
				<div id="nottingMsg" th:text="'아무런 글도 작성하지 않았어요!'"></div>
			</th:block>
		</div>
		<div class="row col-16" id="your_like">
			<span class="badge text-bg-success" style="margin-top: 20px; margin-bottom: 20px; font-size: 20px; text-align: left;">I like it :) </span>
			<th:block th:each="mylikepost, index: ${likepostlist}">
				<div th:id="${mylikepost.postid}" class="card border-info row col-16 post shadow-lg p-1 mb-5 bg-body rounded">
					<div class="card-body">
						<span class="badge text-bg-warning" th:text="${mylikepost.postid}" /><br>
						<span th:text="${mylikepost.writtenTime}" style="font-family: 'Poor Story', cursive; font-size: 19px;" /><br>
						<a style="font-family: 'Poor Story', cursive; font-size: 19px;text-decoration-line : none;" th:text="${mylikepost.title}" th:href='@{/Post/PostViewer/__${mylikepost.postid}__}' />
					</div>
				</div>
			</th:block>
			<th:block th:if="${#lists.size(likepostlist) <= 0}">
				<img src="/nolike.png" class="notExistnotting" style="width: 200px;" />
				<div id="nottingMsg" th:text="'어떤글에도 좋아요를 누르지 않았어요!'"></div>
			</th:block>
		</div>
		<div class="row col-16" id="think">
			<span class="badge text-bg-success" style="margin-top: 20px; margin-bottom: 20px; font-size: 20px; text-align: left;">I comment it :)</span>
			<th:block th:each="mycomment, index: ${commentList}">
				<div th:id="${mycomment.commentid}" class="card border-info row col-16 post shadow-lg p-1 mb-5 bg-body rounded">
					<div class="card-header" style="text-align:left;font-family: 'Poor Story', cursive; font-size: 20px;" th:text="${mycomment.title} + ' at ' + ${mycomment.c_time}" />
					<div class="card-body">
						<img id="xbtn" type="button" src="/delete.png" th:onclick="deleteMyComment([[${mycomment.commentid}]])" />
						<span th:utext="${mycomment.c_contents}" />
					</div>
				</div>
			</th:block>
			<th:block th:if="${#lists.size(commentList) <= 0}">
				<img src="/nocomment.png" class="notExistnotting" style="width: 200px;" />
				<div id="nottingMsg" th:text="'아무런 댓글도 작성하지 않았어요!'"></div>
			</th:block>
		</div>
		<div class="row col-16" id="tags">
			<span class="badge text-bg-success" style="margin-top: 20px; margin-bottom: 20px; font-size: 20px; text-align: left;">I tags it :)</span>
			<th:block th:each="tc, index: ${tagCountList}">
				<div th:id="${tc.forhtmlid}" class="card border-info row col-16 post shadow-lg p-1 mb-5 bg-body rounded">
					<div name="tagCardBody" class="card-body">
						<span id="tagSpan" class="badge text-bg-info" th:text="${tc.tagName}" />&nbsp;&nbsp;&nbsp;&nbsp;
						<span th:text="${tc.count}" style="font-family: 'Poor Story', cursive; font-size: 19px;" />
						<img name="tagModifyButton" id="xbtn" type="button" th:onclick="showModifyTagModal([[${tc.tagName}]])" src="/modify.png" style="right:50px; width: 30px; height: 30px; top:7px"></img>
						<img name="tagDeleteButton" id="xbtn" type="button" th:onclick="deleteTag([[${tc.forhtmlid}]], [[${tc.tagName}]])" src="/delete.png"></img>
					</div>
				</div>
			</th:block>
		</div>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
	<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
	<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
	<div id="alert" role="alert" class="alert alert-danger alert-dismissable fade show fadeIn" style="display: none;" th:fragment="Alert-div">
		<svg id="svg" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
			<path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
		</svg>
		<h4 style="text-align: left;">Notification</h4>
		<div id="errorMsg" style="text-align: left;"></div>
	</div>
	<div id="alert2" role="alert" class="alert alert-success alert-dismissable fade show fadeIn" style="display: none;" th:fragment="Alert-div">
		<img id="svg2" src="/check.svg" width="20" height="20">
		<h4 style="text-align: left;">Notification</h4>
		<div id="successMsg" style="text-align: left;"></div>
	</div>
	<div class="modal fade" id="modifyTagNameModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog-centered modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h1 class="modal-title fs-5" id="exampleModalLabel">Modification tagName! 😆</h1>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					Please enter a new name<br><br>
					<div class="form-floating mb-3">
						<input type="text" class="form-control" id="floatingInput" placeholder="tag name" autofocus>
						<input type="hidden" id="tagnameformodify">
						<label for="floatingInput">New Tag Name</label>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary" onclick="modifyTagName($('#floatingInput').val(), $('#tagnameformodify').val())">Save changes</button>
				</div>
			</div>
		</div>
	</div>
</body>

</html>